In [1]:
import pandas as pd

In [84]:
import numpy as np

In [ ]:
# kunden.csv, geo.txt, besucher.csv in Jupyter Notebook hochgeladen

In [123]:
kunden = pd.read_csv("kunden.csv", sep = ";") # Import der Kundenliste + Separieren der Spalten

In [124]:
kunden["Alter"] = kunden["Alter"].where(kunden["Alter"] < 100) # Datenbereinigung um Falschangaben beim Alter (Annahme: Alter > 100 ist Falschangabe)

In [125]:
kunden["Einkommen"] = kunden["Einkommen"].where(kunden["Einkommen"] < 999999) # Datenbereinigung um Falschangaben beim Einkommen (Annahme 1: der Wert 1 Mrd. ist Falschangabe)

In [126]:
kunden["Einkommen"] = kunden["Einkommen"].where(kunden["Einkommen"] > 0) # Datenbereinigung um Falschangaben beim Einkommen (Annahme 2: Einkommen muss positiv sein)

In [127]:
geo = pd.read_csv("geo.txt", sep = "\t") # Import der Geoliste + Separieren der Spalten

In [128]:
geo["Niederlassung"] = geo["Niederlassung"].replace({"NRW":"Nordrhein-Westfalen", "Berlin-Charlottenburg":"Berlin"}) # "NWR" mit "Nordrhein-Westfalen" und "Berlin-Charlottenburg" mit "Berlin" ersetzen

In [129]:
besucher = pd.read_csv("besucher.csv", sep = ";") # Import der Besucherliste + Separieren der Spalten

In [130]:
besucher["Einkommen"] = besucher["Einkommen"].str.replace(",",".")

In [131]:
besucher["Einkommen"] = pd.to_numeric(besucher["Einkommen"])

In [132]:
besucher["Einkommen"] = besucher["Einkommen"].round(0).astype("Int64")

In [133]:
besucher["Zeit"] = besucher["Zeit"].str.replace(",",".")

In [134]:
besucher["Zeit"] = pd.to_numeric(besucher["Zeit"])

In [135]:
besucher["Zeit"] = besucher["Zeit"].round(0).astype("Int64")

In [136]:
kunden_geo = pd.merge(kunden, geo, on = "KundeNr")

In [137]:
besucher_geo = pd.merge(besucher, geo, on = "KundeNr")

In [139]:
besucher_geo

     Alter  Einkommen  Geschlecht  Zeit KundeNr        Niederlassung
0       30      39919           0    29   K1814               Bayern
1       41      53431           0    27   K1544    Baden-Württemberg
2       64      73163           0    32   K1945    Baden-Württemberg
3       41      36761           0    44   K1825    Baden-Württemberg
4       35      42684           1    33   K1144  Nordrhein-Westfalen
..     ...        ...         ...   ...     ...                  ...
886     32      34392           1    48   K1211               Hessen
887     41      68516           0    34   K1375              Sachsen
888     65      89685           0    23   K1965               Bayern
889     68      95714           0    32   K1540               Bayern
890     49      73319           0    27   K1207        Niedersachsen

[891 rows x 6 columns]